alabaster==0.7.12
astetik==1.9.8
Babel==2.7.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.0
certifi==2018.11.29
chances==0.1.6
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
geonamescache==1.0.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
ipython==5.8.0
ipython-genutils==0.2.0
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kerasplotlib==0.1.4
kiwisolver==1.0.1
llvmlite==0.27.0
MarkupSafe==1.1.1
matplotlib==2.2.3
mpmath==1.1.0
numba==0.42.0
numpy==1.16.1
packaging==19.0
pandas==0.24.2
pathlib2==2.3.3
patsy==0.5.1
pickleshare==0.7.5
pkginfo==1.5.0.1
prompt-toolkit==1.0.15
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
quantecon==0.4.3
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
scandir==1.10.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
statsmodels==0.9.0
sympy==1.3
talos==0.4.9
tqdm==4.31.1
traitlets==4.3.2
twine==1.13.0
typing==3.7.4
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
win-unicode-console==0.5
wrangle==0.6.2
